@using Microsoft.AspNetCore.Identity
@using src.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ApplicationUser appUser = await UserManager.GetUserAsync(User);
}

@if (SignInManager.IsSignedIn(User))
{

    <div class="user-panel">
        @*<div class="pull-left image">
            <img src=".../@appUser.ProfilePictureUrl" >
        </div>
        <div class="info">*@
            @*<p>@appUser.FullName</p>*@
        <a href="#">
            <i class="fa fa-circle text-success"></i>
            @if (appUser.Role == "Manager")
            {
                <span>Online as manager</span>

            }
            else if (appUser.Role == "Admin")
            {
                <span>Online as admin</span>

            }
            else if (appUser.Role == "Employee")
            {
                <span>Online as employee</span>

            }
            @*else if (appUser.IsSupportAgent)
        {
            <span>Online as Support Agent</span>

        }
        else if (appUser.IsSupportEngineer)
        {
            <span>Online as Support Engineer</span>

        }*@
        </a>
        </div>
    @*</div>*@

}