@model src.Models.Attendance
@{
    Layout = null;
}
<style>

    .default {
        display: none;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Edit time in</h4>
</div>

<form onsubmit="return SubmitAddEdit(this)">
    <div class="box-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        @*<input type="text" asp-for="IdNumber" />
        <input type="text" asp-for="FullName" />*@
        @*<input type="text" asp-for="Email" />*@

        <div class="row">
            <div class="form-group col-lg-6">
                <label asp-for="IdNumber" class="control-label"></label>
                <input asp-for="IdNumber" class="form-control" readonly />
                <span asp-validation-for="IdNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" readonly />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="TimeIn" class="control-label"></label>
                    <input asp-for="TimeIn" class="form-control" />
                    <span asp-validation-for="TimeIn" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Remarks" class="control-label"></label>
                    <input asp-for="Remarks" class="form-control" />
                    <span asp-validation-for="Remarks" class="text-danger"></span>
                </div>
            </div>
        </div>
        
    </div>

        <div class="box-footer">
            <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Submit</button>
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
        </div>
</form>
<script>
    Ladda.bind('.btn', { timeout: 1000 });
</script>



