
@{
    ViewData["Title"] = "RegisterSuccess";
    Layout = "~/Views/Shared/_LayoutAdminlteManager.cshtml";
}
<div class="register-box bg-blue">
    <center><h2>Register Success</h2></center>
    @*<h3>We have sent an email to you, please validate your email by clicking the link we have sent to you by email.</h3>*@
</div>


